<div class="col-sm-8">
  <div class="container">
    <img class="img-thumbnail" src="{{item.image}}">
    <h3>{{item.name}}</h3>
    <h4>${{item.cost}}</h4>
    <p>{{item.description}}</p>
    {{update-item item=item update="update"}}
    <button class="delete-button" {{action 'delete' item}}>Delete</button>
  </div>
</div>
