{{#if showUpdateForm}}
<h4>Update Item: {{item.name}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=item.name id="name"}}
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        {{input value=item.description id="description"}}
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        {{input value=item.category id="category"}}
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        {{input value=item.image id="image"}}
      </div>

      <div class="form-group">
        <label for="cost">Cost</label>
        {{input value=item.cost id="cost"}}
      </div>

      <button {{action 'update'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'showUpdateForm'}}>Update Item</button>
{{/if}}
