<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    {{item-detail item=model}}
  </div>
  <div class="col-sm-4">
    {{display-cart}}
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-1">
    <h3>Posted Comments:</h3>
    <ul>
      {{#each model.comments as |comment|}}
        <li>{{rating-stars comment.rating}}<h4>{{comment.name}} says <span class="unbold">{{comment.comment}}</span></h4></li>
      {{/each}}
    </ul>
    {{new-comment saveComment="saveComment" item=model}}
  </div>
</div>
